body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fce4ec;
    font-family: 'Poppins', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: #e91e63;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}

@media (max-width: 600px) {
    .header_text {
        font-size: 1.8rem;
    }
}